/.vscode/
/.idea/
/build/
/vrepPluggin/cmake-build-debug/
.DS_Store
html/
latex/
cmake-build-*/
 __pycache__/
 .idea/


build-debug/

*.user

*.9-pre1

EcosystemManager/__pycache__/

experiments/blackdrops/

experiments/mbnipes/

experiments/monipes/

experiments/nsga2/

experiments/scripts/.ipynb_checkpoints/

experiments/scripts/edgar_script.ipynb

experiments/scripts/expAnalyseBootstrapViability.py

experiments/scripts/mdpi_journal.ipynb

experiments/typescript

modules/nn2

simulation/.idea/

simulation/Cluster/__pycache__/

wiki/
*.autosave


RoboFab/organBankContents.txt

RoboFab/Tracking_system/__pycache__/

image_processing/Tracking_system/__pycache__/

image_processing/Tracking_system/.idea/

image_processing/Tracking_system/location.txt

image_processing/scripts/Raw_pic.jpg

image_processing/Tracking_system/temporary_output.avi

RoboFab/temporary_output.avi

*.out
*.dat
vrep-3.6.2/system/settings.dat
*.so
