/.vscode/
/.idea/
/build/
/vrepPluggin/cmake-build-debug/
.DS_Store
html/
latex/
cmake-build-*/
 __pycache__/
 .idea/


build-debug/

*.user

*.9-pre1

EcosystemManager/__pycache__/

experiments/blackdrops/

experiments/mbnipes/

experiments/monipes/

experiments/nsga2/

experiments/scripts/.ipynb_checkpoints/

experiments/scripts/edgar_script.ipynb

experiments/scripts/expAnalyseBootstrapViability.py

experiments/scripts/mdpi_journal.ipynb

experiments/typescript

modules/nn2

simulation/.idea/

simulation/Cluster/__pycache__/

wiki/
*.autosave

