/.vscode/
/.idea/
/build/
/vrepPluggin/cmake-build-debug/
.DS_Store
html/
latex/
cmake-build-*/
*/__pycache__/
*/.idea/

RoboFab/Documentation/*
RoboFab/blueprints/*
RoboFab/controllers/*
RoboFab/gcode/*
RoboFab/meshes/*
